.option {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 1.6rem;
    border-bottom: 1px solid #5c627b;

  &__text {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
  }
}